html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(3, 3, 70);
    padding: 10px;
    display: flex;
    align-content: center;
    align-items: center;
}

img{
    margin-left: 10px;
    width: 100px;
}

h1{
    color: white;
    margin-left: 20px;
}

.conversor-container{
    background-color: rgb(53, 5, 87);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 5px;
    justify-content: center;
}

/* mobile */

@media screen and (max-width: 600px){
    .conversor-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    img{
        width: 80px;
        position: relative;
    }
}

@media screen and (max-width: 800px) and (min-height: 900px){
    .conversor-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 0;
    }

}

